// --------------------------------------------------
// Buttons
// --------------------------------------------------

// Button global
// -------------------------

.btn {
	border: 2px solid ;
	text-align: center;
	height: 6rem;
	line-height: 6rem;
	text-transform: uppercase;
	color: #fff;
	width:20rem;
	border-radius: $radius;
	letter-spacing: 1px;
	cursor: pointer;
}

.btn-outline {
border-color: #fff;
}

.btn-outline-prime {
border-color: $prime;
color:$prime;
}

.btn-prime {
border-color: $prime;
background-color: $prime;
}

.btn-third {
border: 0;
background-color: $third;
}

.btn-large {
width: 25.5rem;
}

.btn-small {
font-size: 1.1rem;
line-height: 4rem;
width: 15rem;
height: 4rem;
border-radius: $radius;
border: 2px solid ;
color: #fff;
text-align: center;
}

.btn-outline:hover {
	background-color: $white;
	color: $black;
	border-color: $white;
}

.btn-third:hover {
	background-color: $white;
	color: $black;
}

.btn-outline-prime:hover {
	background-color: $prime;
	color: $white;
}