// --------------------------------------------------
// Layout
// --------------------------------------------------

// Layout rules
// -------------------------

.main {
	width: 100%;
}

.container {

	padding-left:13rem;
	padding-right: 13rem; 
}

.box {
	padding-top: 10rem;
	padding-bottom: 10rem;
}